body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main {
  display: flex;
  height: 100vh;
  width: 100vh;
}

#Planner{
  flex: 1;
  justify-content: center;
  float: left;
}

#Map{
  flex: 1;
  justify-content: center;
  float: right;
}